{{#if product}}
<div class="row d-flex justify-content-center">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <ul class="list-group">
            {{# each product}}
            <li class="list-group-item">
                {{!-- <strong>{{this.}}</strong> --}}
                <span class="badge badge-success float-right">{{ this.qty }}</span>
                <img src="{{this.item.imgpath}}" alt="" class="img-thumbnail mx-auto d-block float-left">
                
                <h3><strong class="ml-5 mt3">Name :{{ this.item.title }}</strong></h3>
                <div><strong class="ml-5 mt-2">Price :${{this.price}}</strong>
                </div>
                
                 <div class="dropdown mt-3 float-right">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" data-toggle="dropdown" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="row d-flex justify-content-center text-center">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <strong>Total :${{ this.totalprice }}</strong>
    </div>
</div>
<hr>
<div class="row d-flex justify-content-center text-center">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <a href="/shop/checkout" type="button" class="btn btn-success">CheckOUt</a>
    </div>
</div>

{{ else }}
<div class="row d-flex justify-content-center text-center">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <strong>No items in the cart</strong>
    </div>
</div>
        
{{/if}}

 